<div class="row scroll">
 
    <p id="mainTitle"> {{@blog.title}} </p>
  
    <div id="logo" class="text-center">
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    </div>
    <br>

    <div id="category">
        <div id="category-list" class="scroll">
            <ul class="nav nav-stacked">
                {{#foreach navigation}}
                    <li class="nav-item">
                        <a href="{{url absolute="true"}}" class="nav-link nav-{{slug}}" data-toggle="tab"
                           onclick="navigationFunction(this)">{{label}}</a>
                    </li>
                {{/foreach}}
            </ul>
            <br>
            <br>
            <br>

        </div>
    </div>
    <footer id="nav-footer">
       <div id="socialMediaIconsContainer">
            <a href="https://github.com/Reesy" >  <img src="/assets/image/github.ico" height="30" width="30" id= "socialMediaIcon"> </a>
            <a href="https://twitter.com/Yameus" >  <img src="/assets/image/twitter-icon.png" height="30" width="30"id= "socialMediaIcon"> </a>
            <a href="https://uk.linkedin.com/in/jrees92"> <img src="/assets/image/linkedin.png" height="30" width="30" id="socialMediaIcon"> </a>
            <a href="https://jsfiddle.net/user/TheOneReesy" ><img src="/assets/image/jsfiddle.png" height="30" width="30" id="socialMediaIcon"> </a>
        </div> <!-- socialMediaIcons -->
        <div id="style-changer">
            <a id="light" href="javascript:changeTheme('light');" style="display: inline-block;">
                <img src="/assets/image/PH_Day_50x50.png">
            </a>
            <a id="dark" href="javascript:changeTheme('dark');" style="display: none;">
                <img src="/assets/image/PH_Night_50x50.png">
            </a>
        </div>
    </footer>
</div>